PORT=Port_Number
MONGODB_USER=User_Name
MONGODB_PASSWORD=Password
MONGODB_URL=MongoDB_URL
MONGODB_DB=DB_name

SMTP_HOST=Host_Address
SMTP_PORT=Port_Number
SMTP_USER=User_Name
SMTP_PASSWORD=Password
SMTP_FROM=From_Mail

JWT_SECRET=JWT_SECRET

APP_DOMAIN=APP_DOMAIN

CLOUD_NAME=CLOUD_NAME
API_KEY=API_KEY
API_SECRET=API_SECRET

ENABLE_CLOUDINARY=true
